#root {
}

.nav {
  display: flex;
  background-color: black;
  color: white;
  text-align: left;
  padding-left: 20px;
  font-size: large;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
